{% load staticfiles %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta content="text/html; charset=UTF-8" http-equiv="content-type">
        <meta name="description" content="getyourdata">
        <link rel="stylesheet" href="{% static 'css/getyourdata.css' %}">
        <title>{% block title %}GetYourData.org{% endblock %}</title>
        {% bootstrap_css %}
        {% block extrahead %}
        {% endblock extrahead %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
    	{# MENUBAR #}
        {% block navbar %}{% include "navbar.html" %}{% endblock navbar %}

        {% include "partials/messages.html" %}
        
        {# PAGE CONTENT #}
        {% block content %}
        {% endblock content %}

        {% include "footer.html" %}

        {# SCRIPTS #}
        {% bootstrap_javascript %}
        {% block script %}
        {% endblock script %}
    </body>
</html>
