{% load staticfiles %}
{% load bootstrap3 %}
{% load i18n %}
{% load pipeline %}
{% load extra_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta content="text/html; charset=UTF-8" http-equiv="content-type">
        <meta name="description" content="getyourdata">

        {% bootstrap_css %}

        {% stylesheet 'base_style' %}

        <title>{% block title %}{% current_site %}{% endblock %}</title>
        {% block extrahead %}
        {% endblock extrahead %}
    </head>
    <body class="{% block body_class %}{% endblock %}" id="bootstrap-overrides">
    	{# MENUBAR #}
        {% block navbar %}{% include "navbar.html" %}{% endblock navbar %}

        {% include "partials/messages.html" %}

        {# PAGE CONTENT #}
        <div class="content-area">
            {% block content %}
            {% endblock content %}
        </div>

        {% include "footer.html" %}

        {# SCRIPTS #}
        {% bootstrap_javascript %}
        {% javascript 'base_script' %}
        <script>
            // Make multiple choice fields fancy using Chosen
            $("select[multiple='multiple']").chosen({
                no_results_text: "{% trans "No results for " %}",
                placeholder_text_multiple: "{% trans "Select some options" %}",
                placeholder_text_single: "{% trans "Select an option" %}"
            });
        </script>
        {% block script %}
        {% endblock script %}
    </body>
</html>
