{% load i18n %}
{% load extra_tags %}
<div class="navbar navbar-inverse navbar-fixed-top navbar-default" role="navigation">
	<div class="container">
	    <div class="navbar-header">
	    	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
		        <span class="sr-only">{% trans "Toggle navigation" %}</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
            <a class="navbar-brand" href="{% url 'home' %}">GetYourData.org</a>
        </div>
	    <div class="collapse navbar-collapse" id="main-navbar">
	    	<ul class="pull-right nav navbar-nav">
				{# Translators: Navbar link #}
		        <li><a href="{% url 'home' %}">{% trans "Make a request" %}</a></li>
				{# Translators: Navbar link #}
		        <li><a href="{% url 'organization:list_organizations' %}">{% trans "Organizations" %}</a></li>
		        {# Language selection #}
		        <li class="dropdown">
					{% get_current_language as current_language %}
					{% get_language_info for current_language as current_lang_info %}
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						{{ current_lang_info.name_translated }} <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
	                    {% for lang_code, lang_name in LANGUAGES %}
						<li><a href="{{ request.get_full_path|change_url_lang:lang_code }}">{{ lang_name }}</a></li>
	                    {% endfor %}
					</ul>
                </li>
            </ul>
	    </div><!--/.nav-collapse -->
	</div>
</div>
