{% load i18n %}

    <ul class="tabs">
        <li class="{% if process_step == 1 %}active{% endif %}"><span class="glyphicon glyphicon-envelope"></span>{% trans "Choose organizations" %}</li>
        <li class="{% if process_step == 2 %}active{% endif %}"><span class="glyphicon glyphicon-user"></span>{% trans "Fill in your details" %}</li>
        <li class="{% if process_step == 3 %}active{% endif %}"><span class="glyphicon glyphicon-list-alt"></span>{% trans "Review and send requests" %}</li>
        <li class="{% if process_step == 4 %}active{% endif %}"><span class="glyphicon glyphicon-comment"></span>{% trans "Give feedback" %}</li>
    </ul>

<!-- end progress bar -->