body {
    padding-top: 50px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.organization-icon-list {
    padding-right: 20px;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
