body {
    padding-top: 50px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.organization-icon-list {
    padding-right: 20px;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Drags a button to the left-most position */
.first-button {
    float: left !important;
    margin-right: 5px;
}


/* process steps */


.tabs {
    list-style: none;
    padding: 0;
}

@media all {
    .tabs {
        margin: 1em 0;
        display: table;
        width: 100%;
        height: 40px;
    }
}

.tabs li {
    text-align: center;
    width: 100%;
    border-top: 1px solid white;
    margin: 0;
    position: relative;
    padding: 1em 0;
    box-sizing: border-box;
    vertical-align: middle;
}

.tabs li:first-child {
    border-top: 0;
}

.tabs li .glyphicon {
    padding-right: 0.5em;
    font-size: 1.5em;
}

.tabs li.active {
    color: white;
    background-color: #fbbd19;
}

.tabs li.active:after {
    border-left: 14px solid #fbbd19;
}

.tabs li.active a {
    color: white;
}

@media all {
    .tabs li, button {
        display: table-cell;
        width: auto;
        vertical-align: middle;
        padding: 0 0 0 15px;
        margin: 0;
        border: none;
        background-color: #f5f5f5;
    }

    .tabs li .glyphicon {
        vertical-align: bottom;
    }

    .tabs li:before {
        content: "";
        position: absolute;
        left: 100%;
        top: -1px;
        width: 0;
        height: 0;
        border-top: 21px solid transparent;
        border-left: 15px solid white;
        border-bottom: 21px solid transparent;
        z-index: 10;

    }

    .tabs li:after {
        content: "";
        position: absolute;
        left: 99%;
        /* IE8 and Android don't do calc so well */
        left: calc(100% - 1px);
        top: 0;
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-left: 14px solid #f5f5f5;
        border-bottom: 20px solid transparent;
        z-index: 11;

    }

    .tabs li:last-child:before, .tabs li:last-child:after {
        border: none;
    }
}

.feedback-textarea {
    width: 250px;
}

.comment-message {
    word-break: break-all;
}

.required-by {
    display: block;
}

/* multi-organization rating page */

.errorlist {
    background: red;
    color: white;
    margin-top: 0.5em;
}