backports.shutil-get-terminal-size==1.0.0
decorator==4.0.9
Django==1.9.6
django-bootstrap3==7.0.1
django-extensions==1.6.7
django-filebrowser==3.7.1
django-filter==0.13.0
django-grappelli==2.8.1
django-modeltranslation==0.11
django-rosetta==0.7.11
django-tinymce==2.3.0
djangorestframework==3.3.3
html5lib==0.9999999
ipython==4.2.0
ipython-genutils==0.1.0
microsofttranslator==0.8
pathlib2==2.1.0
pexpect==4.0.1
pickleshare==0.7.2
Pillow==3.2.0
pkg-resources==0.0.0
polib==1.0.7
psycopg2==2.6.1
ptyprocess==0.5.1
PyPDF2==1.26.0
python-memcached==1.58
reportlab==3.3.0
requests==2.10.0
selenium==2.53.5
simplegeneric==0.8.1
six==1.10.0
traitlets==4.2.1
xhtml2pdf==0.0.6
