{% load i18n %}
{% blocktrans %}
Thank you for using GetYourData.
{% endblocktrans %}

{% blocktrans count counter=organizations|length %}
You created a data request for the following organization:
{% plural %}
You created data requests for the following organizations:
{% endblocktrans %}
{% for organization in organizations %}
- {{ organization.name }}
{% endfor %}

{% blocktrans %}
Once you have received a reply to your data request, please review your experience using the link below. Your feedback will help other users.
{% endblocktrans %}
https://{{ request.get_host }}{% url "data_request:give_feedback" org_ids %}
