{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <p>{{ feedback_content.header|linebreaks }}</p>

        {% if send_mail_request_copy %}
        <p>{{ feedback_content.pdf_copy|linebreaks }}</p>
        {% endif %}

        <p>{% blocktrans count counter=organizations|length %}
        When you receive a reply from the following organization, please take a minute to rate it based on how your
        request was handled.
        {% plural %}
        When you receive a reply from the following organizations, please take a minute to rate them based on how your
        requests were handled.
        {% endblocktrans %}</p>
        <ul>
            {% for organization in organizations %}
            <li>{{ organization.name }} - <a href="https://{{ request.get_host }}{% url 'organization:view_organization' organization.id %}">{% trans "Review organization" %}</a></li>
            {% endfor %}
        </ul>

        <p>{{ feedback_content.footer|linebreaks }}</p>
    </body>
</html>
