{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <p>{{ feedback_content.header }}</p>

        {% if send_mail_request_copy %}
        <p>{{ feedback_content.pdf_copy }}</p>
        {% endif %}

        <p>{% blocktrans count counter=organizations|length %}
        You created a data request for the following organization:
        {% plural %}
        You created data requests for the following organizations:
        {% endblocktrans %}</p>
        <ul>
            {% for organization in organizations %}
            <li>{{ organization.name }} - <a href="https://{{ request.get_host }}{% url 'organization:view_organization' organization.id %}">{% trans "Review organization" %}</a></li>
            {% endfor %}
        </ul>

        <p>{{ feedback_content.footer }}</p>
    </body>
</html>
