{% load i18n %}
{{ data_request.organization.name }}
{{ data_request.organization.address_line_one }}
{{ data_request.organization.address_line_two }}
{{ data_request.organization.postal_code }}
{{ data_request.organization.country }}

{{ current_datetime }}

{{ request_content.header }}

{{ request_content.content1|linebreaks }}

{% for auth_content in data_request.auth_contents %}
{{ auth_content.auth_field }}: {{ auth_content.content }}
{% endfor %}
{% if data_request.user_email_address %}
{% trans 'Email address' %}: {{ data_request.user_email_address }}
{% endif %}

{{ request_content.content2 }}

{% if person_name %}
{{ request_content.footer|linebreaks }}
{{ person_name.content }}
{% endif %}
