{% load i18n %}
{{ data_request.organization.name }}
{{ data_request.organization.address_line_one }}
{{ data_request.organization.address_line_two }}
{{ data_request.organization.postal_code }}
{{ data_request.organization.country }}

{{ current_datetime }}

{{ request_content.header }}

{{ request_content.content1|linebreaks }}

{% for auth_content in data_request.auth_contents.all %}
{{ auth_content.auth_field }}: {{ auth_content.content }}
{% endfor %}

{{ request_content.content2|linebreaks }}

{% if data_request.user_email_address %}
{{ request_content.content3|linebreaks }}
{{ data_request.user_email_address }}
{% endif %}

{% if person_name %}
{{ request_content.footer|linebreaks }}
{{ person_name.content }}
{% endif %}
