{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap3 %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div>
                    {% include "process_bar.html" with process_step=3 %}
                </div>
                <div class="page-header">
                    <h1>
                        {% if email_organizations and not mail_organizations %}
                            {# Translators: All requests chosen by user were sent automatically via email #}
                            {% trans "All done!" %}
                            {% elif mail_organizations %}
                            {# Translators: User still needs to print a few requests #}
                            {% trans "Further action required" %}
                        {% endif %}
                    </h1>
                </div>
            </div>
        </div>
        <div class="row">
            {% if mail_organizations %}
                <div class="col-md-6">
                    <h3><span
                            class="glyphicon glyphicon-info-sign"></span> {% trans "Print mail requests" %}</h3>
                    <div class="alert alert-warning">
                        <strong>
                            {% blocktrans count counter=mail_organizations|length trimmed %}
                                One request needs to be printed.
                                {% plural %}
                                {{ counter }} requests need to be printed.
                            {% endblocktrans %}
                        </strong><br>
                        <p>{% blocktrans trimmed %}
                            The following organizations require that data requests are sent by mail:
                        {% endblocktrans %}</p>
                        <ul>
                            {% for organization in mail_organizations %}
                                <li>{{ organization.name }}</li>
                            {% endfor %}
                        </ul>
                        <br>
                        <p>{% trans "You can send data requests to the listed organizations by mail. The following document contains the required pages:" %}</p>
                        <br>
                        <a class="btn btn-xl btn-success" href="data:application/pdf;base64,{{ pdf_data }}"
                           target="_blank" download="request.pdf"><span
                                class="glyphicon glyphicon-download-alt"></span> {% trans "Download PDF" %}</a>
                        <br>
                        {% if mail_request_copy_sent %}
                        <p>{% trans "A copy of the PDF has been sent to your email address." %}</p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            {% if email_organizations %}
                <div class="col-md-6">
                    <h3>{% trans "Email requests sent!" %}</h3>
                    <div class="alert alert-success">
                        <strong>{% trans "Email requests sent successfully!" %}</strong><br>
                        <p>{% trans "Requests were sent to the following organizations by email:" %}</p>
                        <ul>
                            {% for organization in email_organizations %}
                                <li>{{ organization.name }}</li>
                            {% endfor %}
                        </ul>
                        <p>{% trans "You should receive a copy of your email requests to your email address shortly." %}</p>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-success" href="{% url "data_request:give_feedback" org_ids %}">
                    <span class="glyphicon glyphicon-star"></span> {% trans "Give feedback" %}
                </a>
                <b>{% trans "or" %}</b>
                <a class="btn btn-info" href="{% url "home" %}">
                    <span class="glyphicon glyphicon-home"></span> {% trans "Return to the home page" %}
                </a>
            </div>
        </div>
    </div>
{% endblock %}
