{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap3 %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                {% if organizations|length == 1 %}
                <h1>{% trans 'Request your data from' %} {{ organizations.0.name }}</h1>
                {% else %}
                <h1>{% trans 'Request your data from multiple organizations' %}</h1>
                {% endif %}
            </div>
            <form class="form-horizontal" method="post" action="{% url 'data_request:request_data' %}">
                {% csrf_token %}
                <input type="hidden" name="org_ids" value="{{ org_ids}}"/>
                <table class="table">
                {% bootstrap_form form layout='horizontal' %}
                </table>
                <input class="btn btn-default" type="submit" value="{% trans 'Create request' %}"/>
            </form>
        </div>
    </div>
</div>
{% endblock %}
