{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>{% trans 'Request your data from' %} {{ organization.name }}</h1>
        <form class="form-horizontal" method="post" action="{% url 'data_request:request_data' organization.id %}">
            {% csrf_token %}
            <table class="table">
            {{ form.as_table }}
            </table>
            <input class="btn btn-default" type="submit" value="{% trans 'Create request' %}"/>
        </form>
    </div>
</div>
{% endblock %}