{% load i18n %}
{% trans "Data request: " %}{{ data_request.organization.name }}

{{ request_content.header }}

{{ request_content.content1 }}

{% for auth_content in data_request.auth_contents.all %}
{{ auth_content.auth_field }}: {{ auth_content.content }}
{% endfor %}

{{ request_content.content2 }}

{% if data_request.user_email_address %}
{{ request_content.content3 }}
{{ data_request.user_email_address }}
{% endif %}

{% if person_name %}
{{ request_content.footer }}
{{ person_name.content }}
{% endif %}
