{% extends "admin/base_site.html" %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
<form action="{% url 'admin:organization_organizationdraft_check_organization_draft' organization_draft.id %}" method="post">
	{% csrf_token %}
	<div class="module aligned">
		<h1>{% trans "Organization draft: " %}{{ original_organization.name }}</h1>
		<table>
			<thead>
				<tr>
					<th>Field</th>
					<th><b>Original</b></th>
					<th><b>Suggestion</b></th>
				</tr>
			</thead>
			<tbody>
				{% for field, original, new in fields %}
				<tr>
					<th>{{ field }}</th>
					<th {% if original != new %}style="color: red;"{% endif %}>{{ original }}</th>
					<th {% if original != new %}style="color: green;"{% endif %}>{{ new }}</th>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<br>
	</div>
	<div class="submit-row">
		<input class="default" type="submit" name="ignore" value="{% trans "Ignore suggestions" %}"></input>
		<input type="submit" name="update" value="{% trans "Update organization" %}"></input>
	</div>
</form>
{% endblock %}
