{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="page-header">
				{# Translators: Front page blurb title #}
				<h1>{% trans "Find out what companies know about you" %}</h1>
			</div>
			{# Translators: Front page blurb #}
			{% blocktrans trimmed %}
			Find out what companies know about you.
			{% endblocktrans %}
			<br>
			<br>
			<p><a class="btn btn-primary btn-lg" href="{% url 'organization:list_organizations' %}"><span class="glyphicon glyphicon-pencil"></span> {% trans "Make a request" %}</a></p>


		</div>
		<div class="col-md-6">
			<br>
			<img src="{% static 'img/frontpage-icons.jpg' %}"/>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<br>
			<div class="well">
				<h3>{% trans "How do I make a request?" %}</h3>
				<hr>
				<div class="col-md-3">
					<img class="thumbnail" src="http://placekitten.com/200/200"/>
					{# Translators: How do I make a request: First step #}
					<h3>1 <small>{% trans "Send a request with this site" %}</small></h3>
				</div>
				<div class="col-md-3">
					<img class="thumbnail" src="http://placekitten.com/200/200"/>
					{# Translators: How do I make a request: Second step #}
					<h3>2 <small>{% trans "Receive updates to your request via email" %}</small></h3>
				</div>
				<div class="col-md-3">
					<img class="thumbnail" src="http://placekitten.com/200/200"/>
					{# Translators: How do I make a request: Third step #}
					<h3>3 <small>{% trans "Download your data once it arrives" %}</small></h3>
				</div>
				<div class="col-md-3">
					<img class="thumbnail" src="http://placekitten.com/200/200"/>
					{# Translators: How do I make a request: Fourth step #}
					<h3>4 <small>{% trans "Tell us how your request went to help other users" %}</small></h3>
				</div>
				<hr>
				<a href="#">{% trans "More information about how to request your data" %}</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			{{ content|safe }}
		</div>
	</div>
</div>
{% endblock %}
