{% load staticfiles %}
{% load i18n %}
<script>
// Get the origin URL and the
ORIGIN = location.protocol + "//" + location.host;
ORIGIN_WITH_LANG_CODE = ORIGIN + "{% url "home" %}";

// URLs
ORGANIZATION_API_URL = ORIGIN + "{% url 'api:organization-list' %}";
// Remove the trailing slash
ORGANIZATION_API_URL = ORGANIZATION_API_URL.substr(0, ORGANIZATION_API_URL.length-1) + ".json";

REQUEST_DATA_URL = ORIGIN + "{% url 'data_request:request_data' %}";

// Messages
MESSAGES = {
    "create_request": "{% trans "Create request with selections" %}",
    "organizations_selected_none": "{% trans "0 organizations selected." %}",
    "organizations_selected_one": "{% trans "1 organization selected." %}",
    "organizations_selected_plural": "{% trans "{0} organizations selected." %}",
    "mail_request_accepted": "{% trans "Accepts postal requests" %}",
    "email_request_accepted": "{% trans "Accepts email requests" %}",
    "add_organization": "{% trans "Add organization" %}",
    "view_details": "{% trans "View details" %}"
};

window.addEventListener("load", function(evt) {
    // Hide the create request button if no checkboxes are checked
    orgList.Controller.loadList();

    // Load a few simple helpers
    Handlebars.registerHelper("isOrganizationChecked", function(id, options) {
        if (orgList.Model.isOrganizationChecked(id)) {
            return options.fn(this);
        }
    });

    Handlebars.registerHelper("printOrganizationsChecked", function(options) {
        var context = orgList.Model.getContext();
        var checkedCount = context.checkedOrganizations.length;

        if (checkedCount === 0) {
            return new Handlebars.SafeString(MESSAGES["organizations_selected_none"]);
        } else if (checkedCount === 1) {
            return new Handlebars.SafeString(MESSAGES["organizations_selected_one"]);
        } else {
            return new Handlebars.SafeString(
                MESSAGES["organizations_selected_plural"].replace("{0}", checkedCount)
            );
        }
    });
});

orgList = {
    // Context
    context: {
        currentPage: 1,
        pageCount: 1,
        organizationCount: 5,

        // A set of organizations that the user has checked
        checkedOrganizations: [],

        // Messages used for translation
        msg: MESSAGES,

        ORIGIN: ORIGIN,
        ORIGIN_WITH_LANG_CODE: ORIGIN_WITH_LANG_CODE
    }
};

orgList.Controller = {
    /*
     * Set everything up so that the user can use the organization list app
     */
    loadList: function() {
        orgList.View.clear();
        orgList.Controller.loadPage(1);
    },

    /*
     *  Load the provided page
     */
    loadPage: function(page) {
        var context = orgList.Model.getContext();
        context.currentPage = page;

        $.getJSON(ORGANIZATION_API_URL + "?page=" + page, function(data) {
            orgList.Model.updateContext(data);
            orgList.View.update();
        });
    },

    /*
     * Redirect the user to data request creation page
     */
     createRequest: function() {
         var context = orgList.Model.getContext();
         var url = REQUEST_DATA_URL + context.checkedOrganizations.join(",");
         document.location.href = url;
     },
};

orgList.Model = {

    /*
     * Update context based on provided data retrieved using REST API
     */
    updateContext: function(data) {
        var context = this.getContext();
        context.pageCount = Math.floor(data.count / 15) + 1;
        context.organizationCount = data.count;
        context.organizations = data.results;
        context.pages = [];

        this.updatePages();
        orgList.View.update();
    },

    /*
     *  Mark/unmark the organization as a checked
     */
    checkOrganization: function(id) {
        var context = this.getContext();

        var index = context.checkedOrganizations.indexOf(id);

        if (index === -1) {
            context.checkedOrganizations.push(id);
        } else {
            context.checkedOrganizations.splice(index, 1);
        }

        orgList.View.update();
    },

    /*
     * Check if the organization is currently checked by user
     */
    isOrganizationChecked: function(id) {
        return this.getContext().checkedOrganizations.indexOf(id) !== -1 ? true : false;
    },

    /*
     * Update paginator
     */
    updatePages: function() {
        var context = this.getContext();

        context.pages.push({
            "page": 1,
            "prev": true,
            "label": "&laquo;",
            "disabled": context.currentPage === 1 ? true : false
        });

        // Display 11 pages with the current page in the middle
        for (var page=context.currentPage - 6; page < context.currentPage + 5; page++) {

            if (page < 1 || page > context.pageCount) {
                continue;
            }

            context.pages.push({
                "page": page,
                "label": page,
                "active": context.currentPage === page ? true : false
            });
        }

        context.pages.push({
            "page": context.pageCount,
            "last": true,
            "label": "&raquo;",
            "disabled": context.currentPage === context.pageCount ? true : false
        });
    },

    /*
     *  Get context containing all relevant data for template renderer to use
     */
    getContext: function() {
        return orgList.context;
    },

    /*
     * Get the Handlebars template object used for rendering
     */
    getTemplate: function() {
        return typeof this.template !== 'undefined' ? this.template : null;
    },

    setTemplate: function(template) {
        this.template = template;
    },
};

orgList.View = {
    /*
     * Clear everything in the organization list view
     */
    clear: function() {
        $("#organization-list").empty();
    },

    /*
     * Update the view
     */
    update: function() {
        if (orgList.Model.getTemplate() === null) {
            var source = $("#organization-list-template").html();
            orgList.Model.setTemplate(Handlebars.compile(source));
        }

        var template = orgList.Model.getTemplate();

        var html = template(orgList.Model.getContext());
        $("#organization-list").html(html);

        // Enable tooltips
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    }
}
</script>
<script src="{% static 'js/handlebars.min.js' %}"></script>
{% verbatim %}
<script id="organization-list-template">
<table class="table table-striped">
    <tbody>
        {{#each organizations}}
        <tr>
            <td>
                <input id="org-{{ this.id }}" onclick="orgList.Model.checkOrganization({{ this.id }})" type="checkbox" name="org_ids" value="{{ this.id }}" {{#isOrganizationChecked this.id}}checked{{/isOrganizationChecked}}/>
                <a onclick="orgList.Model.checkOrganization({{ this.id }})" href="#">{{ this.name }}</a>

                <span class="organization-icon-list pull-right">
                    <a class="btn btn-xs btn-primary" href="{{ ../ORIGIN_WITH_LANG_CODE }}organizations/view/{{ this.id }}">{{ ../msg.view_details }}</a>
                </span>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<div>
    <button id="create-request" class="btn btn-success" onclick="orgList.Controller.createRequest()" {{#unless checkedOrganizations}}disabled{{/unless}}>{{ msg.create_request }}</button>
    {{printOrganizationsChecked}}
    <span class="pull-right">
        <a class="pull-right btn btn-primary" href="{{ ORIGIN_WITH_LANG_CODE }}organizations/new/">{{msg.add_organization}}</a>
    </span>
</div>
<ul class="pagination">
    {{#each pages}}
    <li class="{{#if this.prev}}prev{{/if}} {{#if this.disabled }}disabled{{/if}} {{# if this.active }}active{{/if}}">
        <a id="page-{{ this.page }}" href="#" onclick="{{#unless this.disabled}}orgList.Controller.loadPage({{this.page}}){{/unless}}">{{{ this.label }}}</a>
    </li>
    {{/each}}
</ul>
</script>
{% endverbatim %}
