{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap3 %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				{# Translators: On the "list organizations" view #}
				<h1>{% trans "Organizations" %}</h1>
			</div>
			{% if organizations %}
			<div id="organization-list">
				<form action="{% url 'organization:list_organizations' %}" method="post">
					{% csrf_token %}
					<input type="hidden" name="prev_org_ids" value="{{ org_ids }}"/>
					<table class="table">
						<tbody>
							{% for organization in organizations %}
								<tr>
									<td><input id="org-{{ organization.id }}" type="checkbox" name="org_ids" value="{{ organization.id }}" {% if organization.id in org_ids %}checked{% endif %}/>
										<a href="{% url 'organization:view_organization' organization.id %}">{{ organization.name }}</a>
										<a class="pull-right btn btn-primary btn-xs" href="{% url 'data_request:request_data' organization.id %}">{% trans "Create request" %}</a>
										<span class="organization-icon-list pull-right">
											{% if organization.accepts_mail %}<span title="{% trans "Accepts postal requests" %}" class="glyphicon glyphicon-envelope"></span> {% endif %}
											{% if organization.accepts_email %}<span title="{% trans "Accepts email requests" %}" class="glyphicon glyphicon-cloud"></span>{% endif %}</span></td>
								</tr>
							{% endfor %}
                            <td>
                                    <a class="pull-right btn btn-primary btn-xs" href="{% url 'organization:new_organization' %}">{% trans "add organization" %}</a>
                            </td>
						</tbody>
					</table>
					<div>
						<input type="submit" class="btn btn-primary" id="create-request" name="create_request" value="Create request"/>
					</div>
				</form>
				{% bootstrap_pagination organizations url=pag_url %}
			</div>
			{% else %}
			<p>{% trans "No organizations yet." %}</p>
			{% endif %}
			{% include "organization/list_js.html" %}
		</div>
	</div>
</div>
{% endblock %}
